@import "../../style/variables";

#footer {

    background-color: $collapse-background-color;
    color: $main-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 209px;

    .linkedinLink :hover {
        cursor: pointer;
    }
    
    .logoLinkedin {
        height: 3em;
    }

    .footer__copyright {
        font-size: 1.5em;

        @media (max-width : 380px) {
            font-size: 0.75em;
        }
    }
}