@import "../../style/variables";


.banner {
    display: flex;
    flex-direction: row;
    align-items: center;     
   
    
        @media (max-width : 870px) {
            flex-direction: column;
        }



           
    &__img {    
        display: flex;
        align-items: center;

        img {
        object-fit: cover;
        border-radius: 50%;
        position: relative;
        height: 10em;
        width: 10em;
        filter: brightness(0.6);
        }
        @media (max-width : 1240px) {
            margin: 15px;
            }
    

        @media (max-width : 870px) {
            height: 165px;
            border-radius: 18px;
            }
        
        @media (max-width : 380px) {
            height: 110px;
            border-radius: 10px;
            } 
    }

    &__text {
        display: flex;
        flex-direction: column;
        padding: 3em;
        font-size: 1.5em;
        line-height: 1.5;
        text-align: justify;

        @media (max-width : 870px) {
            font-size: 1.25em;        
        } 


        @media (max-width : 380px) {
            font-size: 1em;        
        } 

    }
    
}